.dashboard-stock-li {
  font-size: 18px;
  margin: 10px;
  width: 90%;

  font-weight: bolder;
}

.stock-li-value {
  font-size: 15px;
  font-weight: bolder;
}


@media screen and (max-width:1600px) {
  .dashboard-stock-li {
    font-size: 16px;
    margin: 5px;
  }

  .stock-li-value {
    font-size: 14px;
  }
}