.plan_head {
    color: white;
    width: 100%;
    /* border: 2px solid white; */
    text-align: center;
}

.plans {
    /* border: 2px solid white; */
    height: 90%;
    width: 90%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    /* backdrop-filter: blur(60px); */

}

.plan {
    height: 90%;
    width: 35%;
    border: 2px solid rgba(255, 255, 255, 0.432);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    border-radius: 20px;
    margin: 0px 20px;
    margin-top: 20px;
    backdrop-filter: blur(100px)
}

.plan h3 {
    color: white;
    font-size: 25px;
    margin-top: 40px;
    margin-bottom: auto;
}

.plan ul {
    margin-bottom: 32px;
}

/* margin-top: 0px; */
.plan ul li {
    color: white;
    font-size: 15px;
    list-style: circle;
}


.btn_ {
    margin-bottom: 40px;
}